::-webkit-scrollbar {
  display: none;
}

:root {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

// .about-image{
//   // clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
//   clip-path: polygon(54% 0, 95% 13%, 97% 60%, 88% 100%, 27% 92%, 5% 54%, 16% 16%);

// }

// .about-image-background{
//   clip-path: polygon(50% 0%, 76% 15%, 100% 35%, 100% 70%, 98% 100%, 40% 100%, 16% 92%, 0% 70%, 0% 35%, 10% 0);
//   background-color: cyan;
// }

.section-padding {
  width: 80%;
  margin: auto;
  // padding: 40px;
}


@media (max-width: 998px) {
  .section-padding {
    width: 80%;
    margin: auto;

  }
}

@media (max-width: 768px) {
  .section-padding {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 520px) {
  .section-padding {
    width: 100%;
    margin: auto;
  }
}